@import url(./header.css);

body {
    font-size: large;
    color: white;
    margin: 0;
}

main {
    position: fixed;
    background: url("../static/Pics/bg.jpg") fixed no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 20%;
    height: 1000px;
}

.intro {
    margin: 2;
    font-size:xx-large;
}
#search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
h1 {
    margin: 0;
}
